description = "Angular Application Layout"
==
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ 'assets/favicon.ico'|theme }}">
</head>

<body>
    <app-root>
        Loading...
    </app-root>

    <script type="text/javascript" src="{{ 'app/inline.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'app/polyfills.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'app/styles.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'app/vendor.bundle.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'app/main.bundle.js'|theme }}"></script>
</body>

</html>
